* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: hsl(179, 62%, 43%);
    --button-color: hsl(71, 73%, 54%);
    --first-paragraph: hsl(218, 22%, 67%);
    --light-gray: hsl(204, 43%, 93%);
    --bright-yellow: hsl(71, 73%, 54%);
    font-family: "Karla", sans-serif;
    font-size: 16px;
}


body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-gray);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

h1 {
    color: var(--title-color);
    font-size: 26px;
}

.section-one {
    padding: 26px;
    background-color: white;
}


section.section-one h2 {
    color: var(--button-color);
    margin: 26px 0 15px 0;
    font-size: 1rem;
    max-width: 30ch;
}

section.section-one p {
    color: var(--first-paragraph);
    max-width: 32ch;
    line-height: 26px;
}

.section-two {
    display: flex;
    flex-direction: column;
    height: 506px;
}


section > .left-side {
    background-color: var(--title-color);
    color: white;
    padding: 26px;
    max-height: 50%;
}

section > .right-side {
    background-color: hsl(179, 47%, 52%);
    color: white;
    padding: 26px;
    height: 50%;
}

.right-side > p {
    max-width: 24ch;
    text-align: left;
}


.left-side > h2 {
    margin-bottom: 16px;
}

button {
    background-color: var(--bright-yellow);
    margin-top: 26px;
    width: 100%;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 20px;
    font-size: 1.2rem;
}

.paragraph-price {
    color: var(--light-gray);
    padding-bottom: 2px;
    display: flex;
    align-items: center;
}

span.dollar {
    font-size: 40px;
    display: inline;
    margin-right: 12px;
    color: white;
    font-weight: 700;
}

.right-side > h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

@media (min-width: 1440px) {
    
    section {
        overflow: hidden;
    }

    main > .section-two > * {
        font-weight: 100;
    }

    .section-two {
        flex-direction: row;
        height: auto;
    }

    main > .section-one > p {
        max-width: 60ch;
    }

    main > .section-one > h2 {
        max-width: 40ch;
    }

    .section-two > div {
        width: 50%;
        height: auto;
        padding: 30px;
    }

    button {
        padding: 14px;
        font-weight: lighter;
        font-size: 1rem;
    }

}

